* {
    box-sizing: border-box;
}

.page {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #464646;
}

.page p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}

.page span {
    font-weight: 600;
    font-size: 14px;
}

.page h1 {
    margin-top: 0 !important;
    margin-bottom: 22px !important;
}


.page h2 {
    margin-top: 19px !important;
    margin-bottom: 19px !important;
}

.page a {
    color: #464646;
    text-decoration: none;
    font-size: 14px;
}

.page img {
    max-width: 100%;
    z-index: 2;
}

.page ul {
    padding: 0;
    margin: 0;
}

.page ul li {
    list-style: none;
    font-size: 14px;
}

.page .specifications .inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.page .logo {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}

.page .logo img {
    padding: 0 15px;
    background-color: white;
}

.page .logo::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: #464646;
    width: 100%;
    z-index: -1;
    opacity: .5;
}

.page .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.page .info_desc {
    flex: 0 0 50%;
}

.page .info__media {
    flex: 0 0 50%;
    padding-left: 100px;
}

.page .info__media img {
    max-width: 600px;
    width: 100%;
    max-height: 350px;
    margin: 0 auto;
    display: block;
}

.page .info__video video {
    width: 100%;
    border: 0;
    outline: 0;
}

.page table {
    border-spacing: 0;
    width: 100%;
    border: none;
}

.page tr:nth-child(even) {
    background-color: #f2f2f2;
    border: none;
}

.page td {
    border: none;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
}

.page .shipping-tab {
    background-color: #f2f2f2;
    padding: 25px 40px 40px 40px;
    margin-bottom: 50px;
}

.page .shipping-tab h2 {
    text-align: center;
    margin-bottom: 25px !important;
}

.page .shipping-tab img {
    height: 50px;
    margin-bottom: 15px;
}

.page .shipping-tab p {
    margin: 0;
}

.page .shipping-tab .items {
    display: flex;
    justify-content: space-between;
}

.page .shipping-tab .item {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    text-align: center;
}

.page .shipping-tab .item__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* tabs */

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.tabs {
    position: relative;
    margin: 3rem 0;
    height: 14.75rem;
    display: flex;
}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    width: 100%;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
    text-align: center;
    border-bottom: 3px solid RGBA(112, 112, 112, .5);
    color: #8198c2;
    white-space: nowrap;
}

.tab-label:hover {
    transition: top 0.25s;
    color: #000;
}

.tab-content {
    height: 12rem;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 25px 0;
    background: #fff;
    opacity: 0;
    transition: all 0.35s;
    display: none;
}

.tab-switch:checked+.tab-label {
    background: #fff;
    color: #2c3e50;
    transition: all 0.35s;
    z-index: 1;
    top: 0;
    border-bottom: 3px solid #B9CB5D;
    color: #000;
    font-weight: 600;
}

.tab-switch:checked+label+.tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
    width: 100%;
    display: block;
}

.page .tabs p {
    margin: 0;
}

/* tab payment */
.page .tab__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.page .tab__payment .item {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2e2e2;
    height: 70px;
    transition: all .4s;
}

.page .tab__payment .item:hover {
    border-color: #000;
}

.page .tab__payment img {
    height: auto;
}

/* tab about us */
.page .tab__about_us {
    display: grid;
    grid-template-columns: 600px auto;
    grid-template-rows: 42% 58%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "item-img item-top"
        "item-img item-bot";
}

.page .tab__about_us .item-img {
    grid-area: item-img;
    text-align: center;
}

.page .tab__about_us .item-top {
    grid-area: item-top;
    padding-left: 50px;
}

.page .tab__about_us .item-bot {
    grid-area: item-bot;
    padding-left: 50px;
}


/* tabs size */

.page .size-guide-top .item {
    flex: 0 0 30%;
    text-align: center;
}

.page .size-guide-top .item p {
    font-size: 20px;
}

.page .size-guide-table .item {
    flex: 0 0 30%;
}

.page .size-guide-table {
    display: flex;
    justify-content: flex-start;
    margin: 50px auto;
}

.page .size-guide-top {
    display: flex;
    justify-content: space-between;
}

.page .size-guide-bottom .item .item_mb {
    display: none;
}

.page .tab:last-child .tab-content {
    min-height: 800px;
}

.page .tab:first-child .tab-content {
    min-height: 400px;
}

/* media */

@media(max-width: 1360px) {
    .page {
        max-width: 1200px;
    }

    .page .shipping-tab .items {
        flex-wrap: wrap;
    }

    .page .shipping-tab .item {
        white-space: normal;
        flex: 0 0 50%;
        margin-bottom: 20px;
    }

    .page .tab__about_us {
        grid-template-rows: 1fr 1fr;
    }

    .page .tab__about_us .item-bot {
        padding-top: 15px;
    }
}

@media(max-width: 1200px) {
    .page .tab__about_us {
        grid-template-areas:
            "item-img item-top"
            "item-bot item-bot";
    }

    .page .tab__about_us .item-bot {
        padding-left: 0;
    }
}

@media(max-width: 992px) {
    .page .info {
        flex-direction: column;
    }

    .page .info__media {
        padding: 0 5%;
    }

    .info__desc {
        margin-bottom: 50px;
    }

    .page .shipping-tab {
        padding: 40px 10px;
    }

    .tabs {
        flex-wrap: wrap;
        height: 50px;
    }

    .tab {
        flex: 0 0 33.33%;
        width: auto;
    }

    .tab-content {
        top: 97px;
    }

    .page .tab__about_us {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "item-img"
            "item-top"
            "item-bot";
    }

    .page .tab__about_us .item-top {
        padding-left: 0px;
        padding-top: 15px;
    }

    .page .tab__payment {
        flex-wrap: wrap;
    }

    .page .tab__payment .item {
        flex-basis: 30%;
        margin-bottom: 15px;
    }
}

@media(max-width: 768px) {
    .page {
        max-width: 720px;
    }

    .page .specifications .inner {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .page .specifications .inner ul {
        flex: 0 0 50%;
        margin-bottom: 25px;
    }

    .page .size-guide-top {
        flex-direction: column;
    }

    .page .size-guide-top .item,
    .page .size-guide-table .item {
        max-width: 80%;
        margin: 0 auto;
        flex: auto;
    }

    .page .size-guide-bottom .item img {
        display: none;
    }

    .page .size-guide-bottom .item .item_mb {
        display: block;
    }
}

@media(max-width: 576px) {
    .page {
        max-width: 540px;
    }

    .page .shipping-tab .items {
        flex-direction: column;
    }

    .page .specifications .inner {
        flex-direction: column;
    }

    .page .logo img {
        max-width: 120px;

    }

    .page .shipping-tab .items {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }

    .page .info__media {
        padding: 0;
    }

    .page .tab__payment .item {
        flex-basis: 48%;
    }
}